body {
	font-size: 80%;
}

div.song-section {
	margin-bottom: 60px;
}

tr.song-chords td {
	padding: 10px 0 5px 0;
	font-family: 'Heebo', sans-serif;
	font-weight: 800;
	font-weight: bold;
	font-size: 2.8em;
}

tr.song-text td {
	font-family: 'Merriweather', serif;
	font-size: 2.6em;
}

table.song-line td {
	vertical-align: bottom;
}

h1.song-title {
	font-size: 5em;
	font-family: 'Heebo', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 0;
}

h3.song-subtitle {
	font-size: 2em;
	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	margin: 0 0 80px 0;
}

h3.song-section-name {
	font-family: 'Heebo', sans-serif;
	font-weight: 800;
	font-weight: bold;
	font-size: 2.4em;
	text-transform: uppercase;
}